body {
	margin: 0;
	padding: 0;
	background-image: url(maxresdefault.jpg);
	background-repeat: no-repeat;

}

.yadabContainer {}

.yadabTitle {
	-webkit-animation-name: title;
    -webkit-animation-duration: 1s; 
	position: absolute;
	left: 30%;
	top: 30%;
	right: 30%;
	bottom: 30%;
}

@-webkit-keyframes title {
    from {top: 0;}
    to {top: 30%;}
}

.yadabMenuIcon img{
	-webkit-animation-name: menuIcon;
    -webkit-animation-duration: 2s; 
	width: 40px;
	height: 40px;
	position: absolute;
	top: 20%;
	left: 5%;
}

@-webkit-keyframes title {
    from {top: 0;}
    to {top: 30%;}
}

.yadabSocialIcons .facebook{
	-webkit-animation-name: fbIcon;
    -webkit-animation-duration: 0.5s; 
	position: absolute;
	top: 5%;
	right: 20%
}

@-webkit-keyframes fbIcon {
    from {right: 0;}
    to {right: 20%;}
}
.yadabSocialIcons .twitter{
	-webkit-animation-name: twitterIcon;
    -webkit-animation-duration: 1s; 
	position: absolute;
	top: 5%;
	right: 15%
}

@-webkit-keyframes twitterIcon {
    from {right: 0;}
    to {right: 15%;}
}

.yadabSocialIcons .linkedin{
	-webkit-animation-name: linkedinIcon;
    -webkit-animation-duration: 1.5s; 
	position: absolute;
	top: 5%;
	right: 10%
}

@-webkit-keyframes linkedinIcon {
    from {right: 0;}
    to {right: 10%;}
}

.yadabSocialIcons .skype{
	-webkit-animation-name: skypeIcon;
    -webkit-animation-duration: 2s; 
	position: absolute;
	top: 5%;
	right: 5%
}

@-webkit-keyframes skypeIcon {
    from {right: 0;}
    to {right: 5%;}
}

@-webkit-keyframes menuIcon {
    from {left: 0;}
    to {left: 5%;}
}
.yadabTitle span{
	text-align: center;
	display: block;
}


.yadabTitle .top,.bottom{
	list-style:square;
	font-family: cursive;
	font-size: 36px;
	color: aliceblue;
}
.yadabTitle .center{
	font-family: cursive;
	font-size: 72px;
	color: aliceblue;
}