body{
    background-color: #f0f0f0;
}
.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

#main,#aboutMe,#skills,#section4  {
    padding: 50px 0 50px 0;
    height: 100vh;
    color: #fff;
    background-color: #f0f0f0;
    text-align: center;
    color: firebrick;
    font-family: Consolas;
    border-bottom: 1px solid #838383;
}
#main img{
    display: inline;
}
#main .title{
    font-size: 8vw;
}

#main .desc{
    font-size: 3.5vw;
}

#aboutMe .title{
    font-size: 6vw;
}
#aboutMe .desc{
    font-size: 2.5vw;
}

/*#section2 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #673ab7;
}

#section3 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #ff9800;
}

#section41 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #00bcd4;
}

#section42 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #009688;
}*/